.App{
  background-color: grey;
}

.boton{
  background-color: blue;
  border-radius: 10px;
  color: aqua;
  text-align: center;
  position:relative;
  top: 10px;
  width: 40%;
  left: 30%;
  font-family: 'Comfortaa', cursive;
  font-size: 3vw;
  margin: 7px;
  padding: 7px;
}

.Counter{
  background-color: rgb(110, 62, 62);
  border-color: black;
  border-radius: 10px;
  text-align: center;
  position:relative;
  width: 40%;
  left: 30%;
  margin: 30px;
  padding: 10px;
}

.CounterD{
  background-color: rgb(78, 110, 62);
  border-color: black;
  border-radius: 10px;
  text-align: center;
  position:relative;
  width: 40%;
  left: 30%;
  margin: 30px;
  padding: 10px;
}