.App{
  background-color: grey;
}

@mixin theme{
  border-radius: 10px;
  text-align: center;
  position:relative;
  font-family: 'Comfortaa', cursive;
  width: 40%;
  left: 30%;
  margin: 30px;
  padding: 10px;
  border-color: black;
}

.boton{
  @include theme;
  background-color: blue;
  color: aqua;
  top: 10px;
  font-size: 3vw;
}

.Counter{
  @include theme;
  background-color: rgb(110, 62, 62);
}

.CounterD{
  @include theme;
  background-color: rgb(78, 110, 62);
}

.Swapi, .Post{
  @include theme;
  background-color: rgb(110, 100, 62);
  text-align: left;
  width: 70%;
  left: 15%;
}

#btn {
  background-color: pink;
  color: black;
  border: 3px solid purple;
  padding: 5px 7.5px;
  width: 40%;
  left: 30%;
  position:relative;
  text-align: center;
  font-size: 1.5vw;
  margin: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Post{
  background-color: rgb(62, 102, 110);
}